<div id="intro-panel" style="overflow:hidden;">
    <div class="row">
        <h1 class="title" dir-terminal-type="" on-completion="p1 = true">Contact Me</h1>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" placeholder="First Name" class="form-control" ng-model="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" placeholder="Last Name" class="form-control" ng-model="lname">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" placeholder="Email Address" class="form-control" ng-model="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" placeholder="Phone Number (###-###-####)" class="form-control" ng-model="phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="sendEmail()">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-4 col-md-4">
            <h3 style="margin: 0;">Email:</h3>
            <p>austin.by.liu@gmail.com</p>
            <br>
            <h3 style="margin: 0;">LinkedIn:</h3>
            <p><a target="_blank" href="https://www.linkedin.com/in/austinbyliu">austinbyliu</a></p>
            <br>
            <h3 style="margin: 0;">Phone:</h3>
            <p>(919) 672-5308</p>
        </div>
    </div>
</div>