<div id="intro-panel" style="overflow:hidden;">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div id="circle-1">
                <img class="img-circle" id="index-portrait" src='assets/img/austinliu.jpg'>
            </div>
        </div>

        <div class="col-sm-9 col-md-9">
            <div id="intro-info" class="intro-info-row">
                <h1 class="title" dir-terminal-type="" on-completion="p1 = true">Austin Liu</h1>
                <h5 class="slogan" dir-terminal-type="" start-typing="p1" ng-show="p1" on-completion="p2 = true">
                    Software Developer</h5>
                <br>
                <div id="intro-descrip">
                    <p dir-terminal-type="" duration="2500" start-typing="p2" ng-show="p2" on-completion="p3 = true">
                        Hi, <strong>I'm Austin Liu</strong>, a 21 year old software developer from NC. <span dir-terminal-type="" start-typing="p3" ng-show="p3" on-completion="p4 = true">Let me introduce myself.</span>
                    </p>
                    <!--<p dir-terminal-type="" start-typing="p3" ng-show="p3" on-completion="p4 = true">-->
                        <!--Let me introduce myself.-->
                    <!--</p>-->
                </div>

            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <p style="font-size: 20px;"><strong dir-terminal-type="" start-typing="p4" ng-show="p4"
                                                on-completion="q1 = true">Creativity,</strong> <strong
                    dir-terminal-type="" start-typing="q1" ng-show="q1" on-completion="q2 = true">Discovery,</strong>
                <strong dir-terminal-type="" start-typing="q2" ng-show="q2"
                        on-completion="q3 = true">Compassion.</strong></p>
            <p ng-show="q3">
                These are some of the ideals that I strive to achieve for solutions that I develop.
                <br>
                <br>
                Although I specialize in software engineering, my thirst for knowledge has led me to be a part of many
                multifaceted projects including machine learning research with <strong>Duke's Bass Connections</strong>,
                satellite engineering with <strong>NASA</strong>, and developing software in the financial sector for
                <strong>Goldman Sachs</strong>.
                <br><br>
                I hope you enjoy learning more about me. To infinity and beyond.
            </p>
            <!--<img class="test-element-chromata" src="assets/img/grc.jpg">-->
        </div>
        <div class="col-sm-5 col-md-5">
            <div class="monitor-wrapper">
                <img src="assets/img/monitor.png">
                <div class="monitor-description">
                    <div class="monitor-description-content">
                        <p dir-terminal-type="" start-typing="p4" ng-show="p4" on-completion="p5 = true">
                            You can navigate my website using the tabs in the header or by interacting with the planets
                            to the right.
                        </p>
                        <p dir-terminal-type="" start-typing="p5" ng-show="p5" on-completion="p6 = true"
                           style="margin: 0;">
                            Move: <strong>Arrow keys</strong>
                        </p>
                        <p dir-terminal-type="" start-typing="p6" ng-show="p6" on-completion="p7 = true"
                           style="margin: 0;">Shoot: <strong>Space</strong></p>
                        <p dir-terminal-type="" start-typing="p7" ng-show="p7" on-completion="p8 = true"
                           style="margin: 0;">Pause: <strong>Pipe (|)</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>