<div class="left-footer">
    <h6>
        <strong> Connect with Me </strong><br />
        <a target="_blank" href="http://linkedin.com/in/austinbyliu"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Austin Liu's LinkedIn profile" style="vertical-align:middle;" border="0">LinkedIn</a><br />
        <a href="mailto:austin.by.liu@gmail.com" style="color: #ffffff">austin.by.liu@gmail.com</a><br />
        <span>(919) 672-5308</span><br />
    </h6>
</div>

<div class="right-footer">
    <h6>
        <br />
        Copyright © 2016, Austin Liu<br />
        AngularJS, UI Bootstrap, and PhaserJS<br />
        Game Artwork with help from Haruka Nakamura<br />
    </h6>
</div>
